<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularchatApp.chatNotification.home.title">Chat Notifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-notification" [routerLink]="['/chat-notification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularchatApp.chatNotification.home.createLabel">
            Create a new Chat Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chatNotifications?.length === 0">
        <span jhiTranslate="spingularchatApp.chatNotification.home.notFound">No chatNotifications found</span>
    </div>
    <div class="table-responsive" *ngIf="chatNotifications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="spingularchatApp.chatNotification.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatNotificationReason"><span jhiTranslate="spingularchatApp.chatNotification.chatNotificationReason">Chat Notification Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatUserId"><span jhiTranslate="spingularchatApp.chatNotification.chatUser">Chat User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatRoomId"><span jhiTranslate="spingularchatApp.chatNotification.chatRoom">Chat Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatMessageId"><span jhiTranslate="spingularchatApp.chatNotification.chatMessage">Chat Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatNotification of chatNotifications ;trackBy: trackId">
                <td><a [routerLink]="['/chat-notification', chatNotification.id, 'view' ]">{{chatNotification.id}}</a></td>
                <td>{{chatNotification.creationDate | date:'medium'}}</td>
                <td jhiTranslate="{{'spingularchatApp.ChatNotificationReason.' + chatNotification.chatNotificationReason}}">{{chatNotification.chatNotificationReason}}</td>
                <td>
                    <div *ngIf="chatNotification.chatUserId">
                        <a [routerLink]="['/chat-user', chatNotification.chatUserId , 'view' ]" >{{chatNotification.chatUserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatNotification.chatRoomId">
                        <a [routerLink]="['/chat-room', chatNotification.chatRoomId , 'view' ]" >{{chatNotification.chatRoomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatNotification.chatMessageId">
                        <a [routerLink]="['/chat-message', chatNotification.chatMessageId , 'view' ]" >{{chatNotification.chatMessageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-notification', chatNotification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-notification', chatNotification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-notification', { outlets: { popup: chatNotification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="chatNotifications?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
