<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularchatApp.chatUser.home.title">Chat Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-user" [routerLink]="['/chat-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularchatApp.chatUser.home.createLabel">
            Create a new Chat User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chatUsers?.length === 0">
        <span jhiTranslate="spingularchatApp.chatUser.home.notFound">No chatUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="chatUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="spingularchatApp.chatUser.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bannedUser"><span jhiTranslate="spingularchatApp.chatUser.bannedUser">Banned User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="spingularchatApp.chatUser.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatPhotoId"><span jhiTranslate="spingularchatApp.chatUser.chatPhoto">Chat Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatUser of chatUsers ;trackBy: trackId">
                <td><a [routerLink]="['/chat-user', chatUser.id, 'view' ]">{{chatUser.id}}</a></td>
                <td>{{chatUser.creationDate | date:'medium'}}</td>
                <td>{{chatUser.bannedUser}}</td>
                <td>
                    {{chatUser.userId}}
                </td>
                <td>
                    <div *ngIf="chatUser.chatPhotoId">
                        <a [routerLink]="['/chat-photo', chatUser.chatPhotoId , 'view' ]" >{{chatUser.chatPhotoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-user', chatUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-user', chatUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-user', { outlets: { popup: chatUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="chatUsers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
