<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularchatApp.chatInvitation.home.title">Chat Invitations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-invitation" [routerLink]="['/chat-invitation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularchatApp.chatInvitation.home.createLabel">
            Create a new Chat Invitation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chatInvitations?.length === 0">
        <span jhiTranslate="spingularchatApp.chatInvitation.home.notFound">No chatInvitations found</span>
    </div>
    <div class="table-responsive" *ngIf="chatInvitations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="spingularchatApp.chatInvitation.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="acceptance"><span jhiTranslate="spingularchatApp.chatInvitation.acceptance">Acceptance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="denial"><span jhiTranslate="spingularchatApp.chatInvitation.denial">Denial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="acceptanceDenialDate"><span jhiTranslate="spingularchatApp.chatInvitation.acceptanceDenialDate">Acceptance Denial Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="senderId"><span jhiTranslate="spingularchatApp.chatInvitation.sender">Sender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiverId"><span jhiTranslate="spingularchatApp.chatInvitation.receiver">Receiver</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatRoomId"><span jhiTranslate="spingularchatApp.chatInvitation.chatRoom">Chat Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatInvitation of chatInvitations ;trackBy: trackId">
                <td><a [routerLink]="['/chat-invitation', chatInvitation.id, 'view' ]">{{chatInvitation.id}}</a></td>
                <td>{{chatInvitation.creationDate | date:'medium'}}</td>
                <td>{{chatInvitation.acceptance}}</td>
                <td>{{chatInvitation.denial}}</td>
                <td>{{chatInvitation.acceptanceDenialDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="chatInvitation.senderId">
                        <a [routerLink]="['/chat-user', chatInvitation.senderId , 'view' ]" >{{chatInvitation.senderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatInvitation.receiverId">
                        <a [routerLink]="['/chat-user', chatInvitation.receiverId , 'view' ]" >{{chatInvitation.receiverId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatInvitation.chatRoomId">
                        <a [routerLink]="['/chat-room', chatInvitation.chatRoomId , 'view' ]" >{{chatInvitation.chatRoomId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-invitation', chatInvitation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-invitation', chatInvitation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-invitation', { outlets: { popup: chatInvitation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="chatInvitations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
