<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularchatApp.chatMessage.home.title">Chat Messages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-message" [routerLink]="['/chat-message/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularchatApp.chatMessage.home.createLabel">
            Create a new Chat Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chatMessages?.length === 0">
        <span jhiTranslate="spingularchatApp.chatMessage.home.notFound">No chatMessages found</span>
    </div>
    <div class="table-responsive" *ngIf="chatMessages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="messageSentAt"><span jhiTranslate="spingularchatApp.chatMessage.messageSentAt">Message Sent At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="message"><span jhiTranslate="spingularchatApp.chatMessage.message">Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isReceived"><span jhiTranslate="spingularchatApp.chatMessage.isReceived">Is Received</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDelivered"><span jhiTranslate="spingularchatApp.chatMessage.isDelivered">Is Delivered</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatRoomId"><span jhiTranslate="spingularchatApp.chatMessage.chatRoom">Chat Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chatUserId"><span jhiTranslate="spingularchatApp.chatMessage.chatUser">Chat User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatMessage of chatMessages ;trackBy: trackId">
                <td><a [routerLink]="['/chat-message', chatMessage.id, 'view' ]">{{chatMessage.id}}</a></td>
                <td>{{chatMessage.messageSentAt}}</td>
                <td>{{chatMessage.message}}</td>
                <td>{{chatMessage.isReceived}}</td>
                <td>{{chatMessage.isDelivered}}</td>
                <td>
                    <div *ngIf="chatMessage.chatRoomId">
                        <a [routerLink]="['/chat-room', chatMessage.chatRoomId , 'view' ]" >{{chatMessage.chatRoomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chatMessage.chatUserId">
                        <a [routerLink]="['/chat-user', chatMessage.chatUserId , 'view' ]" >{{chatMessage.chatUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-message', chatMessage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-message', chatMessage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-message', { outlets: { popup: chatMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="chatMessages?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
